.home_button .btn_add {
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgb(26, 188, 156);
    border: none;
    color: seashell;
    font-weight: bold;
    float: right;
    width: 220px;
    padding: 10px;
    margin-top: 60px;
    margin-right: -300px;
}

#click-txt {
    float: right;
    margin-top: 30px;
    margin-right: 150px;
}

.famous-recipe-detail {
    text-align: center;
    margin-top: 100px;
    margin-left: 370px;
}

.user-recipe-detail, .user-recipe {
    text-align: center;
    margin-top: 100px;
    margin-left: 370px;
}

.hello {
    margin-top: -110px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 150px;
}

.btn_edit {
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(127, 140, 141);
    border: none;
    color: seashell;
    font-weight: bold;
    width: 120px;
    padding: 10px;
    margin-left: 150px;
}

.jjim-reci img {
    border-radius: 20px;
    width: 250px;
    height: 250px;
    float: left;
    margin: 40px;
    width: 17%;
}

.small_title {
    font-size: 20px;
    font-weight: bold;
}

.more {
    font-size: 13px;
    font-weight: bold;
    float: right;
    margin-right: 200px; 
    color: black;
}
.more:link { color:  black; text-decoration: none;}
.more:visited { color:  black; text-decoration: none;}
.more:hover { color: black;  text-decoration: underline;}
