<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/headfooter.css" rel="stylesheet" type="text/css">
    <title>MyRecipe</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            var $banner = $(".banner").find("ul");

            var $bannerWidth = $banner.children().outerWidth();//이미지의 폭
            var $bannerHeight = $banner.children().outerHeight(); // 높이
            var $length = $banner.children().length;//이미지의 갯수
            var rollingId;

            //정해진 초마다 함수 실행
            rollingId = setInterval(function () { rollingStart(); }, 4000);//다음 이미지로 롤링 애니메이션 할 시간차

            function rollingStart() {
                $banner.css("width", $bannerWidth * $length + "px");
                $banner.css("height", $bannerHeight + "px");
                //alert(bannerHeight);
                //배너의 좌측 위치를 옮겨 준다.
                $banner.animate({ left: - $bannerWidth + "px" }, 2000, function () { //숫자는 롤링 진행되는 시간이다.
                    //첫번째 이미지를 마지막 끝에 복사(이동이 아니라 복사)해서 추가한다.
                    $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                    //뒤로 복사된 첫번재 이미지는 필요 없으니 삭제한다.
                    $(this).find("li:first").remove();
                    //다음 움직임을 위해서 배너 좌측의 위치값을 초기화 한다.
                    $(this).css("left", 0);
                    //이 과정을 반복하면서 계속 롤링하는 배너를 만들 수 있다.
                });
            }
        });
    </script>
</head>
<body>
<% include partials/header %>


    <main class="recipe-masthead" id="content" role="main" tabindex="-1"
        style="position: relative; padding: 30px 15px; text-align: center; background-color: #ffb6c1">
        <div class="box-container"
            style="padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
            <img src="https://cdn3.iconfinder.com/data/icons/love-and-romance-vector-line-2/128/65-512.png"
                style="margin: 0 auto 30px; background-color: transparent; width: 160px; height: 160px; display: block;">
            <p class="lead"
                style="margin: 0 auto 30px; font-size: 20px; color: #000000; font-weight: bold; line-height: 2.0;">MY
                RECIPE는 사용자들에게 더 맛있는 밥상을 만들기 위해 노력하고 있습니다. <br>
                사용자들이 더 많은 레시피를 등록해주실 때에, 더 나은 서비스를 제공할 수 있습니다. <br> 
                MY RECIPE와 함께 더 나은 밥상을 만드시겠습니까?</p>
        </div>
    </main>

    <dd class="container">
    <dt>
        <div class="contents">
            <h5 id="click-txt">내 레시피를 사람들과 공유하고 싶다면? CLICK!!!</h5>
            <div class="home_button">
                <a href="/ideas/add" class="btn_add">지금 내 레시피 공유하기!</a>
            </div>
        </div>
    </dt>
    <dd>
        <div class="banner" style="margin-left:235px;">
            <h3>금주의 HOT한 레시피</h3>
            <ul style="text-align: center;">
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/15/e311c76bad47ad3ba144eac9c624310a1.jpg"
                        width="1000px" height="400px"></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/01/43312099abd320e92af31b6c43e4eba11.jpg"
                        width="1000px" height="400px"></li>
                <li><img src="https://i.ytimg.com/vi/U75Zto-R_cY/maxresdefault.jpg" width="1000px" height="400px">
                </li>
                <li><img src="https://blog.kakaocdn.net/dn/rJTaR/btqIGmlwIiC/zKKLt0Nrp7UUmv87dftwP1/img.jpg"
                        width="1000px" height="400px">
                </li>
            </ul>
        </div>
    </dd>

    <dd>
        <div class="banner" style="margin-top: 150px;">
            <h3>요즘 사용자들은 이런 레시피에 관심이 많아요!</h3>
            <ul style="text-align: center;">
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/07/13/76f13d5ce267799f1c9c63289d165c2e1.jpg"
                        width="1000px" height="400px"></li>
                <li><img src="https://mblogthumb-phinf.pstatic.net/MjAxODA1MjhfMjk1/MDAxNTI3NDc3OTQyMDYz.nsJjCs-zq5CqCRjD5hhSz2vnE8N93D13Bx9T6r1FPJAg.HicKXBIbcIHl82GTpXST-DlkHT9OdhZscUOSKyxWxjgg.JPEG.newstarh/image_8343338951527477886403.jpg?type=w800"
                        width="1000px" height="400px"></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2017/10/10/08a932fa28a3163f51ab21d7646068b51.jpg"
                        width="1000px" height="400px">
                </li>
                <li><img src="https://i.ytimg.com/vi/LluhKLf7PAM/maxresdefault.jpg" width="1000px" height="400px">
                </li>
            </ul>
        </div>
    </dd>

    <div class="container">
        <dl class="main_four" id="Box4" style="border-bottom: 1px solid #e5e5e5;">
            <dt>
            <dd>
                <h3 style="margin-top: 300px;">오늘은 이런 요리 어때요?</h3>
                <ul class="slickList1 common_sp_list_ul ea4 slick-initialized slick-slider"
                    style="width: 100%; text-align:left; padding-left:10px; margin-left: 10px; overflow:hidden; list-style: none;">
                    <div style="width:300px; height:300px;; float:left; margin:20px; width: 30%;">
                        <li><img src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile3.uf.tistory.com%2Fimage%2F113D604C503748A2220AB3"
                                width="300px" height="300px" style="border-radius: 20px;"></li>

                    </div>
                    <div style="width:300px; height:300px; float:left; margin:20px; width: 30%;">
                        <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/06/19/2fa4f7e872f1dca1c75a05e6a0ac63ca1.jpg"
                                width="300px" height="300px" style="border-radius: 20px;"></li>
                    </div>
                    <div style="width:300px; height:300px; float:left; margin:20px; width: 30%;">
                        <li><img src="https://i.ytimg.com/vi/OhwmDSiE3UQ/maxresdefault.jpg" width="300px" height="300px"
                                style="border-radius: 20px;"></li>
                    </div>
                </ul>
            </dd>
            </dt>
            </dd>
        </dl>
    </div>


<% include partials/footer %>
</body>
</html>
