<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <title>MyRecipe</title>
</head>
<body>
    <div class="back">
        <div class="center">
            <div>지금 만나는 My Recipe</div>
            <div>
                <form action="/users/login" method="post">
                    <input type="text" name="email" placeholder="Email" class="input" required autofocus><br>
                    <input type="password" name="password" placeholder="Password" class="input" required><br>
                    <input type="submit" value="Login" class="submit">
                </form>
                <div style="margin-top: 10px;">
                    <a href="register">회원가입</a> &nbsp;|&nbsp;
                    <a href="#">아이디 찾기</a> &nbsp;|&nbsp;
                    <a href="#">비밀번호 찾기</a>
                </div>
            </div>
        </div>
        <div class="back_cover"></div>
    </div>
</body>
</html>