<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/recipes.css" rel="stylesheet" type="text/css">
    <link href="/css/headfooter.css" rel="stylesheet" type="text/css">
    <title>MyRecipe</title>
</head>
<body>
    <% include ../partials/header %>


    <h1>
        <a href="/users/edit" style="color: black;"> 
            마이페이지- 개인정보수정으로 이동
        </a>
    </h1>
    <h1>
        <a href="/ideas/zzim_re" style="color: black;"> 
            찜목록 이동
        </a>
    </h1>
    <h1>
        <a href="/ideas/mine_re" style="color: black;"> 
            내가등록한레시피이동
    </h1>



    <% include ../partials/footer %>
</body>
</html>