<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/recipes.css" rel="stylesheet" type="text/css">
    <link href="/css/headfooter.css" rel="stylesheet" type="text/css">
    <title>MyRecipe</title>
</head>
<body>
    <% include ../partials/header %>


    <h1>
        <a href="#" style="color: black;"> 
            내가 등록한 레시피
        </a>
    </h1>



    <% include ../partials/footer %>
</body>
</html>